<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add New Thing</title>
  </head>
  <body>
    <h1>Add a thing to your inventory!</h1>
    <form action="/" method="post">
      <input type="text" name="thing" placeholder="Enter the thing name here" size="50"></input>
      <button type="submit" name="button">Submit</button>
    </form>
    <form  action="/delete" method="post">
      <button type="submit" name="button">Delete database entries</button>
    </form>
    @{
      if(@Model != null)
      {
        <p>
          @Model
        </p>
      }
    }
    <h3><a href='/viewAll'>View all things</a></h3>
    <h3><a href='/find'>Find a thing</a></h3>
  </body>
</html>
